@charset "UTF-8";
/* CSS Document */

body {
	text-align:center;
	height: 100%;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	font-family: Tahoma, Geneva, sans-serif;
	letter-spacing: 2px;
	background-color: #F4F1E0;
	}
.header{	
	text-align:center;
	width:100%;
	height:4.5em;
	display:block;
	background-color:#FFF;
	position:fixed;
	z-index:5;
	top:0;
}
.title{
	color:white;
}
.welcome{
	overflow: hidden;	
	}
.logo{
	text-align:center;
	width:200px;
	height:4.5em;
	background-color:#E46B56;
	float:left;
	}
.contain{
	padding: 0px;
	background:  #594A48;
    }
.col-left {
	background:  #594A48;
	bottom:0;
	position:fixed;
	top:4.5em;
	text-align:left;
	width: 200px;
	z-index:5;
}
.col-remaining {
	position:relative; 
	padding-left:200px;
	top:6em;	
}
.logoimg {
	/* [disabled]top: 0.5em; */
	margin-top: 0.4em;
}
#personal{
	margin-top:10px;
	margin-right:5em;
	text-align:right;	
	}
.category{
	float: left;
	width:300px;
	height:257px;
	margin-top: 50px;
	margin-left: 200px;
	}
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul {
    width: 200px;
}
li {
    border-bottom: 1px solid #ccc;
}
li a {
    display: block;
}
ul > li.panel {
    margin: 0;
}
ul > li.panel > a {
	text-decoration:none;
    line-height: 2em;
    color: #fff;
    padding: 5px;
    background:  #594A48;
}
ul li.panel:hover > ul {
  display: block; /* 滑鼠滑入母選單後，顯示子選單 */
}
ul > li.panel > a:hover {
    color: white;
    text-decoration: none;
    background: #aaa;
}
ul > li.panel > ul {
    background: #826C69;
	
	display:none;
}
ul > li.panel > ul > li {
    line-height: 2em;
}
ul > li.panel > ul > li > a {
	text-decoration:none;
    color: white;
    padding: 0 0 0 10px;
}
ul > li.panel > ul > li > a:hover {
    background: #bbb;
}
.col-remaining  table tr{
	height:50px;
}
.col-remaining  table{
	position:relative;
	top:-230px;
	margin-left:auto;
	margin-right:auto;
	width:250px;
	text-align:center;
	}
.show{
	display: block;}
.hide{
	display:none;}
.signout{
	margin-left:5px;
	float: right;
	margin-top:1.5em;
	}