@charset "UTF-8";
/* CSS Document */
html{
	 height: 100%;
	 }
body {
	text-align:center;
	height: 100%;
	margin: 0;
	font-family: Tahoma, Geneva, sans-serif;
	letter-spacing: 2px;
	background:#BAAC95;
	}
.header{
	text-align:center;
	width:100%;
	height:4.5em;
	display:block;
	background-color:#fff;
	position:fixed;
	z-index:5;
}
#personal{
	margin-top:10px;
	margin-right:5em;
	text-align:right;
	}
.signout{
	margin-left:5px;
	float: right;
	margin-top:1.5em;
	}
.title{
	color:white;
}
.welcome{
	overflow: hidden;	
	}
.logo{
	text-align:center;
	width:200px;
	height:4.5em;
	background-color:#E46B56;
	float:left;
	}
.contain{
	width: 100%;
	padding: 0px;
    }
.col-left {
	background: #594A48;
	bottom:0;
	position:fixed;
	top:4.5em;
	width: 200px;
	text-align:left;
	z-index:5;
}
.col-remaining { 
	background:#BCAD94;
	position:relative;
	right:0;
	padding-left:200px;
	height:100%;
	top:6em;
}
.logoimg {
	/* [disabled]top: 0.5em; */
	margin-top: 0.4em;
}

.con-left{
	background:#F4F2DF;
	position:absolute;
	width:52em;
	margin-top: 50px;
	margin-left: 50px;
	margin-bottom:50px;
	padding-bottom:50px;
	
	}
.con-left ul, li{
	list-style: none;
    padding: 0;
    margin: 0;
	}
.con-left ul{
    width: 200px;
	}
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul {
    width: 200px;
}
.col-left li {
    border-bottom: 1px solid #ccc;
}
li a {
    display: block;
}
ul > li.panel {
    margin: 0;
}
ul > li.panel > a {
	text-decoration:none;
    line-height: 2em;
    color: #fff;
    padding: 5px;
    background:  #594A48;
}
ul > li.panel > a:hover {
    color: white;
    text-decoration: none;
    background: #aaa;
}
ul li.panel:hover > ul {
  display: block; 
}
ul > li.panel > ul {
	display:none;
    background: #826C69;
}
ul > li.panel > ul > li {
    line-height: 2em;
}
ul > li.panel > ul > li > a {
	text-decoration:none;
    color: white;
    padding: 0 0 0 10px;
}
ul > li.panel > ul > li > a:hover {
    background: #bbb;
}
.con-right{
	background:#F4F2DF;
	position:absolute;
	left:1100px;
	width: 20em;
	margin-top: 50px;
	margin-right: 50px;
	margin-bottom:20px;
	padding-bottom:20px;
	}
.PersonHeader{
	height:180px;
	padding:20px;
	margin-left:7%;
	margin-right:7%;
	border-bottom:2px solid #CCC;
	}
.PersonalImage{
	float:left;
	padding-left:50px;
	padding-top:20px;
	}
.PersonalDetail{
	float:right;
	width:50%;
	text-align:left;
	}
.CollegeIcon{
	float:right;
	padding-top:20px;
	padding-right:20px;
	}
.PersonContent{
	padding:20px;
	margin-left:7%;
	margin-right:7%;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:5px;
	padding-right:5px;
	text-align:center;
	border-bottom:2px solid #CCC;
	font:Tahoma, Geneva, sans-serif;
	font-size:16px;
	letter-spacing:1px;
	}
.PersonSkills{
	padding:20px;
	text-align:left;
	margin-left:7%;
	margin-right:7%;
	border-bottom:2px solid #CCC;
	font:Tahoma, Geneva, sans-serif;
	letter-spacing:1px;
	}
.PersonSkills p{
	font-size:16px;
	}
.Message{
	display:block;
	text-align:left;
	border-bottom:2px solid #CCC;
	}
.Message p{
	font-size:9px;
	}
.Message img{
	float:left;
	margin-right:10px;}
.NewPartner{
	display:block;
	text-align:left;
	border-bottom:2px solid #CCC;
	}
.NewPartner p{
	font-size:9px;
	margin-left:50px;
	}
.NewPartner img{
	float:left;
	margin-right:20px;}
.Match_Option{
	margin:10px 0px;
	}
.Page a{
	cursor:pointer;
	font-size:16px;
	word-spacing:normal;
	letter-spacing:normal;
	padding:10px 15px;
	}
.Page{
	display:inline-flex;
	}
.Message_page{
	display:block;
	text-align:center;
	border-bottom:2px solid #CCC;
	}

